<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.islamiccenter.abjad1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CourseAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WatchAct"
            android:screenOrientation="portrait" />
        <activity android:name=".AccAct"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SettingAct"
            android:screenOrientation="portrait"
            />
        <activity android:name=".NotesAct"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>